body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
p{
    font-size: 18px;
}
.title{
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    color: rgb(128, 105, 0);
    text-transform: uppercase;    
}
h1.title{
    color: rgb(197, 72, 72);
}