body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
p{
    font-size: 30px;
}
.title{
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    color: rgb(128, 105, 0);
    text-transform: uppercase;    
}